:root{
  /* Colors - Brands */
  --brand-ligth: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  /* Colors - Accents */
  --accent-purple: #B259FF;
  --accent-fuschia: #FF59F9;
  --accent-pink: #FF598B;
  --accent-orange: #FF8B59;
  --accent-yellow: #FFCD59;
  --accent-lime: #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan: #59FFF9;
  --accent-navy: #6A59FF;

}